venv/
__pycache__/
.idea/          # PyCharm project specific files
.streamlit/     # Streamlit local cache
.DS_Store       # macOS specific files
*.pyc           # Python compiled files
.env            # Common for environment variables if you use a .env file